
<% if @features %>
<div class="feature-area">
	<ul class="feature-list">
		<li class="features-header">
			<h3><span class="underline_red"> Findings: </span></h3>
		</li>
		<% @features.each do |feature| %>  
		<li class="features-item">
			<a class="feature-link" href="<%= feature_path(feature.id) %>"> 
				<%= feature.name %>				
			</a>
			<ul class="top features">
			<% feature.scenarios.each do |scenario| %>
				<li>
					<a class="scenario-link" href="<%= scenario_path(scenario.id) %>"> 
						<% if scenario.highlight %>
							<%= raw scenario.highlight.format { |fragment| content_tag(:span, fragment, :class => 
								"highlight_yellow") } %>
						<% else %>
							<%= scenario.name %>
						<% end %>
					</a>  					
				</li>				
			<% end %>
			</ul>

			
		</li>
		<% end %>
	</ul>	
</div>
<% end %>
